.Header {
    --header-height: 80px;
}

.HeaderWithLogoExample {
    margin-bottom: var(--space-xl);
    padding: 0 var(--space-s);

    & .HeaderMenu {
        &-Link {
            line-height: var(--header-height);
        }

        &-List {
            margin-bottom: 0;
            padding-left: 0;
        }
    }
}